Say hi to bonita.json
{
  "name": "Say hi to bonita",
  "nodes": [
    {
      "parameters": {
        "formTitle": "HOLA",
        "formDescription": "just say hi to your lil bitch",
        "formFields": {
          "values": [
            {
              "fieldLabel": "age",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Male/Female",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Male"
                  },
                  {
                    "option": "Female"
                  },
                  {
                    "option": "other"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        0,
        80
      ],
      "id": "5e350156-9ec7-44cb-84cd-2d35ff7b7329",
      "name": "On form submission",
      "webhookId": "69a754b4-c56b-4ad3-8527-f10a47e80236"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.age }}",
                    "rightValue": 18,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    },
                    "id": "13bac64d-f79b-441a-9c5f-cfbb3a842fc5"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4a459986-01cf-4018-a704-e6f7f15d5837",
                    "leftValue": "={{ $json['Male/Female'] }}",
                    "rightValue": "Female",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "649d08ac-8dd1-45e9-b7cf-58ac9577098c",
                    "leftValue": "={{ $json['Male/Female'] }}",
                    "rightValue": "Female",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        224,
        64
      ],
      "id": "ef67efec-5cd7-4e44-a772-dde70b47226b",
      "name": "Switch"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "You are under age ",
        "emailType": "text",
        "message": "aeyooo you are under age, not allowed ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        448,
        -112
      ],
      "id": "976207a2-3434-4cae-beec-c901a3038194",
      "name": "Send a message",
      "webhookId": "ffcf3bde-0b87-4d07-910f-e59fb5a43030",
      "credentials": {
        "gmailOAuth2": {
          "id": "liUNo5Xdh3shziPu",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "You are not a bonita,  NOT ALLOWED",
        "message": "go away you are not a senyorita, I like bonitas!!!!!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        448,
        80
      ],
      "id": "edc43907-1724-46ef-8f29-f968aabba2ae",
      "name": "Send a message1",
      "webhookId": "fe01a257-5096-4044-85f5-b48fe3797062",
      "credentials": {
        "gmailOAuth2": {
          "id": "liUNo5Xdh3shziPu",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Heyyy bonita ",
        "emailType": "text",
        "message": "hello amor, how are you ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        448,
        272
      ],
      "id": "f2950cfa-e3d8-4f05-9f6e-649b596f12f1",
      "name": "Send a message2",
      "webhookId": "84ca64d1-3f4d-4269-b4c2-fb665e271d1b",
      "credentials": {
        "gmailOAuth2": {
          "id": "liUNo5Xdh3shziPu",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1b7h4MImUeYLhbWt2CBoDl6sy2MhmyR70_dZNs2I0f-U/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1b7h4MImUeYLhbWt2CBoDl6sy2MhmyR70_dZNs2I0f-U/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "age": "={{ $('On form submission').item.json.age }}",
            "gender": "={{ $('On form submission').item.json['Male/Female'] }}",
            "email": "={{ $('On form submission').item.json.Email }}",
            "reply": "Underage"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "age",
              "displayName": "age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gender",
              "displayName": "gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reply",
              "displayName": "reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        -112
      ],
      "id": "455661ce-5499-4c05-b4ff-e882e59097f9",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YDzYb3kFH8S07rDh",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1b7h4MImUeYLhbWt2CBoDl6sy2MhmyR70_dZNs2I0f-U/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1b7h4MImUeYLhbWt2CBoDl6sy2MhmyR70_dZNs2I0f-U/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "age": "={{ $('On form submission').item.json.age }}",
            "gender": "={{ $('On form submission').item.json['Male/Female'] }}",
            "email": "={{ $('On form submission').item.json.Email }}",
            "reply": "I don't like boys"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "age",
              "displayName": "age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gender",
              "displayName": "gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reply",
              "displayName": "reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        80
      ],
      "id": "de598409-a59f-4c16-a1dc-83fb8d60920d",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YDzYb3kFH8S07rDh",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1b7h4MImUeYLhbWt2CBoDl6sy2MhmyR70_dZNs2I0f-U/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1b7h4MImUeYLhbWt2CBoDl6sy2MhmyR70_dZNs2I0f-U/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "age": "={{ $('On form submission').item.json.age }}",
            "gender": "={{ $('On form submission').item.json['Male/Female'] }}",
            "email": "={{ $('On form submission').item.json.Email }}",
            "reply": "hii amor "
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "age",
              "displayName": "age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gender",
              "displayName": "gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reply",
              "displayName": "reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        272
      ],
      "id": "c7ec3c99-bd65-4619-9662-5163b9fe6751",
      "name": "Append row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YDzYb3kFH8S07rDh",
          "name": "Google Sheets account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message2": {
      "main": [
        [
          {
            "node": "Append row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "fcb391b9-89b2-4dc4-a266-82ab3a27ce72",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5d2323cd536c7f0091bc11767bdc3f503086d0ba167b08f7dba27b0ddf0b0bc8"
  },
  "nodeGroups": [],
  "id": "eTwdmmKY2bTzxeDD",
  "tags": []
}